pymj.egg-info
build
.ipynb_checkpoints
__pycache__
*.py[cod]
*$py.class
.idea
*.DS_Store
**/.DS_Store

botzone_data
test
scripts

examples4chinese_mahjiong/botzone/**.zip
examples4chinese_mahjiong/demo.py